.ui_main_add{
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    height: 1250px;
	background-color: rgb(139, 167, 175);
}
.ui_form_add{
    background-color: #6bf3d1;
	margin-top: 20px;
	height: 1000px;
	width: 500px;
	border: 10px solid #6bf3d1;
	border-radius: 15px;
	
}
.input-field-add{
	background-color: #67a8f3;
    padding: 10px;
    margin: 10px 10px 22px 10px;
    border-radius: 4px;
    border: 1px solid rgb(14, 13, 13);
}
.ui_button_add{
    background-color: rgb(7, 160, 28);
	width: 100px;
	padding: 10px;
	border: 1px solid rgb(12, 11, 11);
	border-radius: 8px;
	margin-top: 10px;
}
.flight_id {
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 30px;
    opacity: 0.9;
}
.flight_company {
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 30px;
    opacity: 0.9;
}
.flight_origin {
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 30px;
    opacity: 0.9;
}
.flight_destination {
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 30px;
    opacity: 0.9;
}
.flight_departure {
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 30px;
    opacity: 0.9;
}
.flight_arrival {
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 30px;
    opacity: 0.9;
}
.noOfSeats {
    padding: 10px 20px;
    margin: 8px 0;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    width: 300px;
    height: 30px;
    opacity: 0.9;
}
.ui_button_addcnfrm{
    background-color: rgb(238, 210, 51);
	width: 150px;
	padding: 10px;
	border: 1px solid rgb(12, 11, 11);
	border-radius: 8px;
	margin-top: 20px;
}