.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	
  }
  
  .H1{
	font-weight: 'lighter';
	margin-top: 20px;
  }
  
  .loginBox {
	background-color: #f0f2f5;
	margin-top: 20px;
	height: 500px;
	width: 500px;
	border: 1px solid gray;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  .usernameInput{
	width: 350px;
	padding: 15px;
	border-radius: 15px;
	border: 1px solid gray;
  }
  
  .passInput {
	width: 350px;
	padding: 15px;
	border-radius: 15px;
	border: 1px solid gray;
  }
  .passInput {
	margin-top: 10px;
  }
  
  .loginPageBtn {
	background-color: #1877f2;
	width: 100px;
	padding: 10px;
	border: 1px solid gray;
	border-radius: 8px;
	margin-top: 20px;
  }
  
  .forgPass{
	margin-top: 16px;
  }
  
  
  
  
  
  
  